.content-hand {
  background-color: rgba(0, 0, 0, 0);
}

.content-hand-popup-bg {
  position: absolute;
  top: 15%;
  bottom: center;
  left: 2%;
  right: 0;
}

.content-hand-popup-use {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 800px;
  background-color: rgba(77, 76, 76, 0);
  width: 500px;
  height: 400px;
  padding: 5px;
  border-radius: 5px;
  float: left;
}

.content-hand-popup-use img {
  max-width: 100px;
  max-height: 120px;
  width: auto;
  height: auto;
  margin-left: 1px;
}
