
.content-hand-popup-bg {
  margin-left: 20px;
  position: absolute;
  top: 23%;
  max-width: 400px ;
}

.content-hand-popup-use {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-hand-popup-use img {
  padding: 4px;
  max-width: 20%;
  width: auto;
}
