.GameState {
  font-size: 20px;
  color: red;
  margin-left: 15px;
  margin-top: 15px;
}
.content-fieldcards {
  display: block;
}

.Cards {
  width: 8%;
  position: absolute;
}

.SouthCard {
  top: 70%;
  left: 65%;
}

.EastCard {
  top: 48%;
  left: 81%;
}

.NorthCard {
  top: 28%;
  left: 65%;
}

.WestCard {
  top: 48%;
  left: 50%;
}

.winround-card {
  width: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.title_player {
  margin-top: -10px;
  color: red;
}

label {
  font-size: 20px;
  margin-left: 10px;
}

.btn-trump {
  width: 80px;
  height: 60px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 60%;
  margin-top: -35px;
  margin-left: -52px;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
}


.win-round {
  position: absolute;
  color: rgb(255, 8, 8);
}

.Directions {
  position: absolute;
  color: rgb(7, 0, 0);
}

.SD {
  top: 67%;
  left: 66.5%;
}

.ED {
  top: 45%;
  left: 83.52%;
}

.ND {
  top: 24%;
  left: 66.5%;
}

.WD {
  top: 45%;
  left: 52%;
}


.WIND {
  top: 76%;
  left: 85%;
}

.TrumpImg {
  max-width: 4%;
}

.TrumpState {
  position: absolute;
  top: 60%;
  left: 44%;
  margin-top: -35px;
  margin-left: -50px;
  font-size: 30px;
}
.HandLabel{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}
.OptionHand{
  margin-top: 20px;
  margin-left: 30px;
  width: 10%; 
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(199, 199, 199, 0.918);
}
