.position-field {
  max-width: 960px;
  width: 800px;
  height: 600px;
  display: flex;
  margin: 0;
  border: 1px solid red;
  padding: 1rem;
  position: relative;
}
.position-trump {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GameState {
  font-size: 10px;
  color: red;
  margin-left: 15px;
  margin-top: 15px;
}

.card {
  width: 90px;
  position: absolute;
}

.south-card {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.east-card {
  top: 50%;
  left: 75%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.north-card {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.west-card {
  top: 50%;
  left: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.winround-card {
  width: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.title_player {
  margin-top: -10px;
  color: red;
}

label {
  font-size: 20px;
  margin-left: 10px;
}

.trump_state-HistoryField {
  position: absolute;
  top: 50%;
  left: 60%;
  margin-top: -35px;
  margin-left: -50px;
  font-size: 40px;
}
.win-round {
  position: absolute;
  color: rgb(255, 8, 8);
}

.direction-HistoryField {
  position: absolute;
  color: rgb(7, 0, 0);
}
.south-direction {
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.east-direction {
  top: 35%;
  left: 75%;
  transform: translate(-50%, 0%);
}

.north-direction {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.west-direction {
  top: 35%;
  left: 20%;
  transform: translate(50%, 0%);
}

.win-direction {
  position: absolute;
  top: 420px;
  left: 1230px;
}

.trump-img {
  max-width: 20%;
  max-height: 20%;
}
