.content-showmatch {
  text-align: center;
  position: fixed;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.767);
}
.content-showmatch-popup-bg {
  position: absolute;
  top: center;
  bottom: center;
  left: center;
  right: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-showmatch-popup-use {
  position: relative;
  max-width: 1440px;
  max-height: 720px;
  background-color: white;
  width: 1280px;
  height: 680px;
  padding: 5px;
  border-radius: 5px;
}

.div-btn-close {
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.Select-Round {
  display: flex;
  justify-content: flex-start;
}

.Field {
  display: flex;
  justify-content: flex-start;
}
