.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.header-login{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
}
.formflex{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.label{
  padding : 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5%;
}

.btns {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  width: 70px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btns:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btns:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}